name: Release
on:
  workflow_dispatch:
  push:
    tags:
      - 'dwproton*'
jobs:
  build-x86_64:
    name: Build x86_64
    runs-on: ubuntu-latest
    steps:
      - name: Debloat GitHub runner
        uses: endersonmenezes/free-disk-space@v2
        with:
          remove_android: true
          remove_dotnet: true
          remove_haskell: true
          remove_tool_cache: false
          remove_swap: true
          remove_packages: "azure-cli google-cloud-cli microsoft-edge-stable google-chrome-stable firefox postgresql* temurin-* mysql* dotnet-sdk-*"
          remove_packages_one_command: true
          remove_folders: "/usr/share/swift /usr/share/miniconda /usr/share/az* /usr/local/lib/node_modules /usr/local/share/chromium /usr/local/share/powershell /usr/local/julia /usr/local/aws-cli /usr/local/aws-sam-cli /usr/share/gradle"
          testing: false
      - name: Restore cache
        id: ccache-restore
        uses: actions/cache/restore@v4
        with:
          path: ~/.ccache
          key: ccache-proton-${{ github.run_id }}
          restore-keys: |
            ccache-proton-
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
          submodules: false
      - name: Patch
        run: |
          git submodule update --init --filter=tree:0 --recursive
          ./patches/apply.sh
          mkdir ./build
      - name: Configure
        working-directory: ./build
        env:
          CFLAGS: -O3 -march=x86-64-v4 -mtune=generic
          RUSTFLAGS: -Copt-level=3 -Ctarget-cpu=x86-64-v4
          USE_LTO: 0
        run: |
          ../configure.sh --build-name=proton-ll-${{ github.ref_name }}-x86_64 --without-tts --enable-ccache
      - name: Make dwproton
        working-directory: ./build
        run: |
          make -j$(nproc) redist
      - name: Save cache
        id: ccache-save
        if: always()
        uses: actions/cache/save@v4
        with:
          path: ~/.ccache
          key: ${{ steps.ccache-restore.outputs.cache-primary-key }}
      - name: Upload artifact proton-ll-${{ github.ref_name }}-x86_64.tar.xz
        uses: actions/upload-artifact@v4
        with:
          name: proton-ll-${{ github.ref_name }}-x86_64.tar.xz
          path: ./build/proton-ll-${{ github.ref_name }}-x86_64.tar.xz
      - name: Upload artifact proton-ll-${{ github.ref_name }}-x86_64.sha512sum
        uses: actions/upload-artifact@v4
        with:
          name: proton-ll-${{ github.ref_name }}-x86_64.sha512sum
          path: ./build/proton-ll-${{ github.ref_name }}-x86_64.sha512sum
  release:
    name: Release
    needs: [build-x86_64]
    runs-on: ubuntu-latest
    if: github.ref_type == 'tag'
    steps:
      - name: Download ${{ matrix.file }} artifact
        uses: actions/download-artifact@v4
        with:
          name: ${{ matrix.file }}

      - name: Upload ${{ matrix.file }} to release
        shell: bash
        run: >-
          gh
          --repo "${{ github.server_url }}/${{ github.repository }}"
          release upload
          ${{ inputs.version }}
          ${{ matrix.file }}
          --clobber
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
