name: Release
on:
  workflow_dispatch:
  push:
    tags:
      - 'dwproton*'
jobs:
  build-x86_64:
    name: Build x86_64
    runs-on: trixie
    steps:
      - name: Restore cache
        id: ccache-restore
        uses: actions/cache/restore@v4
        with:
          path: ~/.ccache
          key: ccache-proton-${{ github.run_id }}
          restore-keys: |
            ccache-proton-
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
          submodules: false
      - name: Patch
        run: |
          git submodule update --init --filter=tree:0 --recursive
          ./patches/apply.sh
          mkdir ./build
      - name: Configure
        working-directory: ./build
        env:
          RUSTFLAGS: -Copt-level=3 -Ctarget-cpu=nocona
          USE_LTO: 0
        run: |
          ../configure.sh --build-name=${{ github.ref_name }}-x86_64 --enable-ccache --without-tts
      - name: Make dwproton
        working-directory: ./build
        run: |
          make -j$(nproc) redist
      - name: Save cache
        id: ccache-save
        if: always()
        uses: actions/cache/save@v4
        with:
          path: ~/.ccache
          key: ${{ steps.ccache-restore.outputs.cache-primary-key }}
      - name: Upload artifact ${{ github.ref_name }}-x86_64.tar.xz
        uses: actions/upload-artifact@v3
        with:
          name: ${{ github.ref_name }}-x86_64.tar.xz
          path: ./build/${{ github.ref_name }}-x86_64.tar.xz
      - name: Upload artifact ${{ github.ref_name }}-x86_64.sha512sum
        uses: actions/upload-artifact@v3
        with:
          name: ${{ github.ref_name }}-x86_64.sha512sum
          path: ./build/${{ github.ref_name }}-x86_64.sha512sum
  release:
    name: Release
    needs: [build-x86_64]
    runs-on: trixie
    if: github.ref_type == 'tag'
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v3
        with:
          path: ./artifacts/
      - name: Create release
        uses: actions/forgejo-release@v2.7.3
        with:
          direction: upload
          tag: ${{ github.ref_name }}
          release-dir: ./artifacts/*
